@page
@model AuditSentinel.Pages.EscaneosServidores.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EscaneosServidores</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EscaneosServidores.Servidores)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EscaneosServidores.Servidores.IP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EscaneosServidores.Escaneos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EscaneosServidores.Escaneos.NombreEscaneo)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="EscaneosServidores.IdServidor" />
        <input type="hidden" asp-for="EscaneosServidores.IdEscaneo" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
