
@page "{id:int}"
@model AuditSentinel.Pages.Plantillas.DeleteModel
@{
    ViewData["Title"] = "Eliminar Plantilla";
}
<div class="p-5">
<h2>Eliminar</h2>
<div class="alert alert-warning">
    ¿Seguro que deseas eliminar la plantilla <strong>@Model.Plantilla.NombrePlantilla</strong>?
</div>
<form method="post">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
</form>
</div>