
@page "{id:int}"
@model AuditSentinel.Pages.Plantillas.EditModel
@{
    ViewData["Title"] = "Editar Plantilla";
}
<div class="p-5">
<h2>Editar Plantilla</h2>

<form method="post">
    <input type="hidden" asp-for="Plantilla.IdPlantilla" />
    <div class="card p-3">
        <div class="mb-3">
            <label asp-for="Plantilla.NombrePlantilla" class="form-label"></label>
            <input asp-for="Plantilla.NombrePlantilla" class="form-control" />
            <span asp-validation-for="Plantilla.NombrePlantilla" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Plantilla.Version" class="form-label"></label>
            <input asp-for="Plantilla.Version" class="form-control" />
            <span asp-validation-for="Plantilla.Version" class="text-danger"></span>
        </div>

        <hr />
        <h5>Relacionar Vulnerabilidades</h5>
        <div class="mb-3">
            <label class="form-label">Vulnerabilidades</label>
            <select multiple class="form-select"
                    asp-for="SelectedVulnerabilidades"
                    asp-items="Model.VulnerabilidadesList"></select>
            <span asp-validation-for="SelectedVulnerabilidades" class="text-danger"></span>
        </div>

        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
               </div>
    </div>
</form>
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}