@page
@model AuditSentinel.Pages.Cuenta.LoginModel
@using AuditSentinel.Models

@{
    ViewData["Title"] = "Login";
}

@* <h2 class="mb-4">Iniciar Sesión</h2> *@
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card sidebar p-4 text-white" style="width: 100%; max-width: 600px; height: 500px;">
        <div class="text-center mb-4">
            <div class="rounded-circle bg-body mx-auto" style="width: 150px; height: 150px;">

            </div>
        </div>

<form method="post">
    <div class="mb-6">
        <label>Correo</label>
        <input asp-for="Login.Email" class="form-control" placeholder="Ingresar Correo" />
        <span asp-validation-for="Login.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Contraseña</label>
        <input asp-for="Login.Password" class="form-control" type="password" placeholder="Ingresar Contraseña" />
        <span asp-validation-for="Login.Password" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
    <p class="text-danger">@Model.ErrorMessage</p>
</form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}