@page
@model AuditSentinel.Pages.Escaneos.CreateModel

<h2>Nuevo Escaneo</h2>

<form method="post">
    <div class="card p-3">
        <div class="mb-3">
            <label asp-for="Escaneo.NombreEscaneo"></label>
            <input asp-for="Escaneo.NombreEscaneo" class="form-control" />
            <span asp-validation-for="Escaneo.NombreEscaneo"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Escaneo.Estado"></label>
            <select asp-for="Escaneo.Estado"
                    asp-items="Html.GetEnumSelectList<AuditSentinel.Models.EstadoEscaneo>()"
                    class="form-control">
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">

            <label>Servidores</label>
            <select asp-for="ServidoresSeleccionados"
                    asp-items="Model.Servidores"
                    class="form-control"
                    multiple>
            </select>
            <small class="text-muted">Usa Ctrl/Cmd para seleccionar múltiples.</small>
            <span asp-validation-for="ServidoresSeleccionados" class="text-danger"></span>
        </div>

        <div class="col-md-6 mb-3">
        <label>Plantillas</label>
        <select asp-for="PlantillasSeleccionadas"
                asp-items="Model.Plantillas"
                class="form-control"
                multiple>
        </select>
            <small class="text-muted">Usa Ctrl/Cmd para seleccionar múltiples.</small>
            <span asp-validation-for="PlantillasSeleccionadas" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex gap-2">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="Index" class="btn btn-secondary">Cancelar</a>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
