@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject SignInManager<AuditSentinel.Models.Usuarios> SignInManager
@inject UserManager<AuditSentinel.Models.Usuarios> UserManager


<div id="app-sidebar" class="sidebar collapsed d-flex flex-column shadow-lg">
    <div class="sidebar-header d-flex align-items-center p-3">
        <div class="brand-logo d-flex align-items-center">
            <div class="logo-box bg-white rounded-3 shadow-sm">
                <i class="bi bi-shield-lock-fill text-primary-custom fs-4"></i>
            </div>
            <span class="brand-title fw-bold text-white menu-text ms-2">Audit Sentinel</span>
        </div>
    </div>

    <hr class="sidebar-divider mx-3 opacity-25 text-white">

    <nav class="nav flex-column flex-nowrap p-1 flex-grow-1 overflow-hidden">
        <a asp-page="/Index" class="nav-link d-flex align-items-center mb-2">
            <div class="icon-container"><i class="bi bi-house-door"></i></div>
            <span class="menu-text">Inicio</span>
        </a>
        <a asp-page="/Servidores/Index" class="nav-link d-flex align-items-center mb-2">
            <div class="icon-container"><i class="bi bi-hdd-network"></i></div>
            <span class="menu-text">Servidores</span>
        </a>
        <a asp-page="/Escaneos/Index" class="nav-link d-flex align-items-center mb-2">
            <div class="icon-container"><i class="bi bi-upc-scan"></i></div>
            <span class="menu-text">Escaneos</span>
        </a>
        <a asp-page="/Reportes/Index" class="nav-link d-flex align-items-center mb-2">
            <div class="icon-container"><i class="bi bi-clipboard-data"></i></div>
            <span class="menu-text">Reportes</span>
        </a>
        <a asp-page="/Configuracion" class="nav-link d-flex align-items-center mb-2">
            <div class="icon-container"><i class="bi bi-gear"></i></div>
            <span class="menu-text">Configuración</span>
        </a>
    </nav>

    <div class="sidebar-footer p-1 mt-auto border-top border-white border-opacity-10">
        @if (SignInManager.IsSignedIn(User))
        {
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;

                <a asp-page="/Registrar/Details" asp-route-id="@userId" class="nav-link d-flex align-items-center text-white mb-3 p-1">
                    <div class="icon-container bg-white bg-opacity-25 rounded-circle">
                        <i class="bi bi-person-fill"></i>
                    </div>
                    <span class="menu-text small">@User.Identity.Name</span>
                </a>
                <a method="post" asp-area="Identity" asp-page="/Cuenta/Logout" asp-route-returnUrl="@Url.Page("/Index")">
                    <button type="submit" class="nav-link d-flex align-items-center text-logout border-0 bg-transparent w-100 p-1">
                        <div class="icon-container"><i class="bi bi-box-arrow-right"></i></div>
                        <span class="menu-text small fw-bold">Cerrar Sesión</span>
                    </button>
                </a>
  
            }

        } else
        {
            <a asp-area="Identity" asp-page="/Cuenta/Login" class="nav-link login-btn-custom d-flex align-items-center mb-2">
        @* <form asp-area="Identity" asp-page="/Cuenta/Login" class="nav-link login-btn-custom d-flex align-items-center mt-2 mx-2"> *@
                <div class="icon-container">
                    <i class="bi bi-person-fill"></i>
                </div>
                <span class="menu-text fw-bold">Iniciar Sesión</span>
            </a>
        }
    </div>
</div>
