@page
@model AuditSentinel.Pages.Servidores.CreateModel
@using AuditSentinel.Models
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Analista,Administrador")]

@{
    ViewData["Title"] = "Crear";
}

<div class="p-5">
    <h1>Crear</h1>

    <h4>Servidores</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <span class="text-danger">*</span>
                    <label asp-for="Servidores.NombreServidor" class="control-label"></label>
                    <input asp-for="Servidores.NombreServidor" class="form-control" />
                    <span asp-validation-for="Servidores.NombreServidor" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <span class="text-danger">*</span>
                    <label asp-for="Servidores.IP" class="control-label"></label>
                    <input asp-for="Servidores.IP" class="form-control" />
                    <span asp-validation-for="Servidores.IP" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <span class="text-danger">*</span>
                    <label asp-for="Servidores.SistemaOperativo" class="control-label"></label>
                    <select asp-for="Servidores.SistemaOperativo" class="form-select"
                            asp-items="Html.GetEnumSelectList<SistemaOperativo>()">
                        <option value="">-- Seleccione un sistema operativo --</option>
                    </select>
                    <span asp-validation-for="Servidores.SistemaOperativo" class="text-danger"></span>
                </div>
                <br>

                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    <a asp-page="Index" class="btn btn-info">Volver</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

                    