@page "{id}"
@using Microsoft.AspNetCore.Authorization
@model AuditSentinel.Pages.Usuarios.EditModel

@{
    ViewData["Title"] = "Editar usuario";
}
<div class="p-5">
<h2>Editar usuario</h2>

<form method="post">
    <input type="hidden" asp-for="Registro.Id" />

        <div class="mb-3">
            <label asp-for="Registro.Nombre">Nombre</label>
            <input asp-for="Registro.Nombre" class="form-control" />
            <span asp-validation-for="Registro.Nombre" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Registro.Apellido">Apellido</label>
            <input asp-for="Registro.Apellido" class="form-control" />
            <span asp-validation-for="Registro.Apellido" class="text-danger"></span>
        </div>
    <div class="mb-3">
            <label asp-for="Registro.Email"></label>
            <input asp-for="Registro.Email" class="form-control" />
            <span asp-validation-for="Registro.Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label>Roles</label>
            <select asp-for="Registro.Rol" class="form-select" multiple size="5" asp-items="Model.AvailableRoles"></select>
            <span asp-validation-for="Registro.Rol" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-page="Index" class="btn btn-secondary">Volver</a>
</form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
