<<<<<<< HEAD
﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Inicio";
}
<h1>Mensaje enviado<h1/>
<a href="/Index" class="btn btn-primary btn-lg">Volver a Inicio</a>
=======
﻿@page
@model AuditSentinel.Pages.MensajeEnviadoModel
@{
    ViewData["Title"] = "Mensaje Enviado";
}

<div class="container text-center mt-5">
    <h2>✅ Solicitud enviada correctamente</h2>
    <p>Nos pondremos en contacto contigo en menos de 24 horas.</p>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
</div>
}
>>>>>>> 578070a4b6becb5af58574261fca893a65f8eaae
